<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZFB.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EE849B842A4EE4C26E4823673A5349EF72D6B370</string>
				<key>dateExpires</key>
				<string>2018/10/31</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>297J2E2F8W.com.zavfwei.zfb</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>297J2E2F8W</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ZFB.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>958a787d-2271-404a-b740-05d1239fc953</string>
				<key>name</key>
				<string>IOS1.0.1diStribution</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>297J2E2F8W</string>
				<key>name</key>
				<string>Chongqing exhibition FuWei network technology co., LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
